.num, .age {
    font-size: 16px; 
    font-family: "Kumbh Sans", "Outfit";
}
.age {
    color:  hsl(227, 10%, 46%); 
}
.sub-title {
   font-size: 12px; 
   color:  hsl(227, 10%, 46%); 
   font-family: "Kumbh Sans", "Outfit" ;
}
.box-1 {
    border-radius: 10px;
    margin-left: auto;
    margin-right:auto;
    background-color: aqua;
    width: 50px;
    height:50px;
}