.num, .age {
    font-size: 16px; 
    font-family: "Kumbh Sans", "Outfit";
}
.age {
    color:  hsl(227, 10%, 46%); 
    text-align: right;
    
}
.sub-title {
   font-size: 12px; 
   color:  hsl(227, 10%, 46%); 
   font-family: "Kumbh Sans", "Outfit" ;
}
.box-1 {
    height:350px;
    width:350px; 
    background-color: white;
    border-radius:15px; 
    padding: 20px;
    margin:30px; 
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    box-shadow: 4.0px 8.0px 8.0px hsla(0, 0%, 54%, 0.38);
}

.box-2 {
    height:200px;
    width:350px; 
    background-image: url(./images/bg-pattern-card.svg);
    border-radius:15px; 
    padding:20px;  
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
}